header {
    text-align: center;
}

li {
    display: inline;
}

.top {
    height: 200px;
    border-color: green;
    border-style: dashed;
    width: 100%;
    display: inline-block;
}

.top > img {
    /* display: inline-block; */
    max-width: 33%;
    max-height: 100%;
}

/* .top > p {
    display: inline-block;
} */

.mid {
    border-color: forestgreen;
    border-style: solid;
    height: auto;
    width: 100%;
}

.box {
    display: inline-block;
    width: 45%;
    height: 150px;
    border-style: solid;
    border-color: deeppink;
    text-align: center;
}

#abox {
    display: none;
}

#bbox {
    visibility: hidden;
}


