header {
    text-align: center;
}

li {
    display: inline;
}

.mid {
    border-color: forestgreen;
    border-style: solid;
    height: auto;
    width: 100%;
}

.box {
    display: inline-block;
    width: 45%;
    height: 100px;
    border-style: solid;
    border-color: deeppink;
    text-align: center;
}

#abox {
    display: none;
}

#bbox {
    visibility: hidden;
}


